@mixin frame {
  position:relative;
  width: 300px;
  height: 300px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
