@use "../../scss/mixins/frame.scss" as frame;

.dayTwo__frame {
  @include frame.frame;
  background: #3faf82;
}
.dayTwo__box {
  width: 80px;
  height: 50px;
  @include frame.center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.dayTwo__line {
  background: #fff;
  height: 8px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  margin: 0px auto;
}
.line-one {
  animation: animate-line-one-del 0.7s ease-in-out;
}
.line-two {
  animation: animate-line-two-del 0.7s ease-in-out;
}
.line-three {
  animation: animate-line-three-del 0.7s ease-in-out;
}
.line-one.active {
  animation: animate-line-one 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}
.line-two.active {
  animation: animate-line-two 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}
.line-three.active {
  animation: animate-line-three 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}
@keyframes animate-line-one {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(21px);
  }
  to {
    transform: translate3d(0, 21px, 0) rotate(45deg);
  }
}
@keyframes animate-line-two {
  from {
    width: 100%;
    opacity: 1;
  }
  50% {
    width: 0;
    opacity: 0;
  }
  to {
    width: 0;
  }
}
@keyframes animate-line-three {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-21px);
  }
  to {
    transform: translate3d(0, -21px, 0) rotate(135deg);
  }
}

@keyframes animate-line-one-del {
  from {
    transform: translate3d(0, 21px, 0) rotate(45deg);
  }
  50% {
    transform: translateY(21px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes animate-line-two-del {
  from {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 100%;
    opacity: 1;
  }
  to {
    width: 100%;
  }
}
@keyframes animate-line-three-del {
  from {
    transform: translate3d(0, -21px, 0) rotate(135deg);
  }
  50% {
    transform: translateY(-21px);
  }
  to {
    transform: translateY(0px);
  }
}
.no-animation {
  -webkit-animation: none !important;
  animation: none !important;
}
