@use "../vendor/normalize";

@use "../days/day_1/dayOne.scss";
@use "../days/day_2/dayTwo.scss";
@use "../days/day_3/dayThree.scss";
@use "../days/day_4/dayFour.scss";
.body {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  max-width: 1230px;
  margin: 60px auto;
  padding: 0 10px;
}
