.container {
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(to bottom left, blue, pink);
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43389F', endColorstr='#4ec6ca',GradientType=1 );
  font-family: "Courier New", "Courier", sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.number {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .one {
    position: absolute;
    background: #fff;
    width: 20px;
    height: 40px;
    border-radius: 3px;
    transform: rotate(50deg);
    z-index: 1;
    top: 0px;
    left: -16px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  }
  .one-too {
    position: absolute;
    background: #fff;
    width: 24px;
    height: 100px;
    border-radius: 3px;
    z-index: 3;
    top: 0;
    left: 0;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  }
  .zero-one,
  .zero-two {
    position: absolute;
    border: 24px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 2;
    top: 0;
    left: 17px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
  .zero-two {
    left: 100px;
    z-index: 1;
  }
}
.days {
  position: relative;
  z-index: 20;
  display: block;
  font-size: 82px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 106px;
  color: #fff;
}
.cssch {
  position: relative;
  z-index: 20;
  display: block;
  font-size: 23px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: #fff;
}
